th {
    color: white;
    background-color: #333;
    border: 1px solid;
    height: 25px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-size: 20px;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    background-color: #f2f2f2;
    border: 1px solid #333;
}

td {
    border: 1px solid #333;
}

.textpanel {
    display: inline-block;
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    border: 1px;
    font-size: 20px;
    border-style: solid;
    border-radius: 25px;
    min-height: 20px;
    min-width: 100px;
}

.textpanel {
    display: inline-block;
    background: #08457E;
    color: #ffffff;
    padding: 10px;
    border: 1px;
    font-size: 20px;
    border-style: solid;
    border-radius: 25px;
    min-height: 20px;
    min-width: 100px;
}

p {
    display: inline-block;
    background: #08457E;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
    font-size: 100%;
    color: white;
    width: auto;
}

.addbutton {
    border: 1px solid;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    width: 200px;
    color: #ffffff;
    text-shadow: 0.5px 0.5px #000000;
    background-color: #1d8fd1;
}

.modificarepanel {
    display: inline-block;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #08457E;
    color: #ffffff;
    padding: 10px;
    border: 1px;
    font-size: 150%;
    border-style: solid;
    border-radius: 25px;
    min-height: 5%;
    width: auto;
}

.center_div {
    transform: translate(-50%, -20%);
}

select {
    background-color: #08457E;
    color: white;
    min-width: 10px;
    font-size: 90%;
}

select:focus {
    outline: 0;
}